html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1;
}
.header {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    /*temp*/
    height: 100px;
}
.footer {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    /*temp*/
    height: 100px;
}
.calc_box {
    background-color: darkslategray;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    flex: 1 0 300px;
    /*temp val*/
    padding: 24px;
    margin: 24px;
    gap: 16px;
}
.screen, .previous_screen {
    background-color: darkgreen;
    color: whitesmoke;
    display: flex;
    justify-content: end;
    align-items: center;
}
.screen {
    font-size: 50px;
    font-weight: 800;
    /*temp, idle animation??*/
    padding: 12px;
    height: 100px;
}
.previous_screen {
    font-size: 16px;
    font-weight: 500;
    /*temp*/
    padding: 12px;
    height: 20px;
}
.row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row2, .row3, .row4, .row5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: black;
    color: white;
    font-size: 50px;
    /*temp*/
    min-width: 160px;
    padding: 8px;
    border-radius: 10%;
}